<h1>Eat-Da-Burger!</h1>
<div class="d-flex justify-content-centerc">
   <img src="./assets/images/burger.png" width="200px" alt="picture of burger">
</div>
<h2>Undevoured Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#unless DEVOURED}}
     <li> {{BURGER_NAME}} <button class="devoure" value={{id}}>eat the burger</button></li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if DEVOURED}}
      <li>{{BURGER_NAME}} </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Order Burger</button>
</form>
